.carrito {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.item-carrito button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.carrito-total {
    text-align: right;
    margin-top: 30px;
}

.btn-comprar {
    background: #ffb703;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}
